[submodule "dispmoviles/android/partial-activity-peterglezroa"]
	path = dispmoviles/android/partial-activity-peterglezroa
	url = https://github.com/damtecqro/partial-activity-peterglezroa
[submodule "ldaw/actividades/expressFramework"]
	path = ldaw/actividades/expressFramework
	url = https://github.com/peterglezroa/expressFramework
[submodule "dispmoviles/android/PowerMgmt"]
	path = dispmoviles/android/PowerMgmt
	url = https://github.com/peterglezroa/PowerMgmt
[submodule "dispmoviles/android/activity-1-kotlin-peterglezroa"]
	path = dispmoviles/android/activity-1-kotlin-peterglezroa
	url = https://github.com/damtecqro/activity-1-kotlin-peterglezroa
[submodule "dispmoviles/flutter/listview_flutter"]
	path = dispmoviles/flutter/listview_flutter
	url = https://github.com/damtecqro/listview_flutter
[submodule "dispmoviles/flutter/actividad-parcial-topi"]
	path = dispmoviles/flutter/actividad-parcial-topi
	url = https://github.com/damtecqro/actividad-parcial-topi
[submodule "security/labs/ChessCode"]
	path = security/labs/ChessCode
	url = https://github.com/rodominguez/ChessCode.git
