[submodule "dispmoviles/android/partial-activity-peterglezroa"]
	path = dispmoviles/android/partial-activity-peterglezroa
	url = https://github.com/damtecqro/partial-activity-peterglezroa
[submodule "ldaw/actividades/expressFramework"]
	path = ldaw/actividades/expressFramework
	url = https://github.com/peterglezroa/expressFramework
